<a href="https://colab.research.google.com/github/qrinefurr/Synapse_LP/blob/main/Copy_of_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1**

## **Learning Period Synapse**

Resources: https://www.youtube.com/watch?v=UB3DE5Bgfx4, https://www.youtube.com/watch?v=QUT1VHiLmmI, https://www.youtube.com/watch?v=yZTBMMdPOww, https://www.youtube.com/watch?v=irHhDMbw3xo, https://www.youtube.com/watch?v=s9e2A04lmXI

Mounting Google drive

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

##**1) Import Pandas, Numpy and Matplotlib**

In [ ]:
# Your code starts here

# Your code ends here

## **2) Load the data**
load the titanic dataset in a pandas dataframe
(download dataset from https://www.kaggle.com/c/titanic/data and store it in a folder called "syanpse_w1" in the root of your drive)
Note that you have to download the train and test csv files seperately

In [ ]:
train_path = "/content/gdrive/My Drive/synapse_w1/train.csv"
test_path = "/content/gdrive/My Drive/synapse_w1/test.csv"
# Your code starts here

# Your code ends here

Write code to show first five data entries of both dataframes

In [ ]:
# Your code starts here

# Your code ends here

## **3) Exploratory Data Analysis**
Exploratory data analysis is a very important part of ML as it helps you understand the data you are dealing with
We will be working on the training dataset here to observe and analyze the patterns of the dataset.

Pandas documentation: https://pandas.pydata.org/docs/

Numpy documentation: https://numpy.org/doc/1.23/

### 3.a. Overview of the dataset


1.   write code to list the columns in your dataframe
2.   write a function that returns the number of rows and columns in the dataset
3.   use the info() method of pandas dataframe to print the info related to the dataframe
4.   use the describe() method of pandas dataframe to print the statistical description of the dataset
5.   Find all columns that have unique values. (example : the Gender column has 2 unique values Male and Female)
if the columns have finite unique values, then add them in a dictionary of lists and print it
dictionary should look like :

  {"Gender" : ["Male", "Female"], "Col2" : ["unique1", "unique2"],...}

In [ ]:
# Your code for listing columns starts here

# Your code ends here

In [ ]:
# Your code for writing the function starts here

# Your code ends here

In [ ]:
# Your code for using the info() method starts here

# Your code ends here

In [ ]:
# Your code for using the describe() method starts here

# Your code ends here

In [ ]:
# Your code for creating a dictionary of unique values in every column starts here

# Your code ends here

### 3.b. Visualizing hidden Details
Aim is to find relationship between Title and Survival rate


*   print the name column of the data
*   notice that the word after the first comma encapsulates the title of the person (Mr., Mrs, etc)
*   extract the title using regular expression (help given below in the code)
*   store the title in a new column in the dataframe. Name the column : Title

In [ ]:
# Your code starts here (for regex help refer next code cell)

# Your code ends here

In [ ]:
# regex example
import re

name_eg = "Petranec, Miss. Matilda"
title_search = re.search('(\w+)\.', name_eg) #the first argument is a pattern that we are looking for
print("result:", title_search) #this is the result we get after looking for the pattern
if title_search:
  print("pattern found") #pattern found printed if a pattern like above is found
  title = title_search.group(1) #extracting the pattern found by regular expression (title here)
  print("title:", title)

In [ ]:
# show the new dataframe with "Title" column here

# Your code ends here



*   Write code to get unique values from the title column
*   Use the unique titles to find the number of people who survived (1) and number of people who did not (0) for each title. num_survived/total will give the survival rate for that title
*   Make a new dataframe called SR_df and add the survival rates corresponding to titles in it
  
  You may write a function for the above.
  
  
  Expected output :

  Mr    0.679392

  Capt    0.1245
  
  .
  
  .
  
  .

In [ ]:
# Your code starts here

# Your code ends here

In [ ]:
# show the new dataframe SR_df here

Use SR_df to plot a bar graph for survival rate vs Title

In [ ]:
# Your code starts here

# Your code ends here

This brings us to the end of EDA.

You may feel free to do more exploratry analysis.

The aim of this notebook is not to point out every small detail but to give you an overview and guide you

## **4) Data Visualization**

Matplotlib documentation: https://matplotlib.org/stable/index.html

*   Make a pie chart to show the number of people who survived and number of people who did not
*   Make a pie chart to show the number of Males who survived and number of people who did not
*   Make a pie chart to show the number of Females who survived and number of people who did not

  Note that all three charts must be visible in a single row (look into subplots)

In [ ]:
# Your code starts here

# Your code ends here



*   Find if money affected survival rate (fare and Pclass)
*   Make a bar graph showing Pclass vs survival rate
*   Make a KDE plot (use the sns library) and plot Fare based on the Survival (google away for this one)

In [ ]:
# Your code starts here

# Your code ends here

## **5) Preprocessing**
Preprocessing is an important step before we step into modelling. It is a step that prevents the Rubbish in Rubbish out concept of flawed data.
*   when we added the Title column in the datadframe, we did preprocessing on the existing data to extract relevant information. As we also tried to explore and understand the data using survival rate, we saw it under EDA.

### 5.a. Removing unnecessary columns
*   The columns PassengerId and Ticket play no logical role in being related to the survival of a passenger. Hence we will remove them.
*   We will also remove the Name column as we have done feature extraction and obtained titles instead. (test set might have extra titles which are not in the train set. Think about how we would consider them. This however doesn't affect task 1's objective)

In [ ]:
# Your code to rmove the unnecessary columns starts here

# Your code ends here

### 5.b. Nan analysis
*   write code to find the percentage of Nans in each column and visualize it in a tabular format
*   remove any column having more than 50% Nans as they would be of no use

In [ ]:
# Your code starts here

# Your code ends here

*   Fill Nans in the Embark column with the statistical mode
*   Fill Nans in the Age column with it's statistical mean

In [ ]:
# Your code starts here

# Your code ends here

*   show the new Nan percentage vs column name table after filling and removing to make sure there are no Nans

In [ ]:
# Your code starts here

# Your code ends here

### 5.c. Adding features to the dataset
*   Read the kaggle link (titanic dataset) provided above and see what the two columns SibSP and Parch signify
*   Using that create a new column called **Family_members**
*   Fill it with the sum of SibSP and Parch

In [ ]:
# Your code starts here

# Your code ends here

### 5.d. Scaling and Normalization
We don't want to give undue advantage to a few columns (when training models), just because they have a numeric data that is larger in magnitude.
Therefore we scale all values down to a specific range or distribution

Columns to apply scaling on:
*   Age
*   Fare
*   Family_members

Although Pclass column is numeric, it contains classification data (only 1, 2 and 3). Therefore only continuous data like age, fare, etc needs to be normalized.
Read about standardization and normalization in this link https://www.geeksforgeeks.org/normalization-vs-standardization/ .
Apply the formulas given in the link above and scale/normalize the features that are supposed to be scaled
It is your choice to choose wether you choose to normalize or standardize a column. You will be able to make your choice after reading the link contents.
If you feel confused with the choice, then you can go ahead and directly normalize.

In [ ]:
# Your code starts here

# Your code ends here

### 5.e. One hot encoding
Machine Learning models do not understand strings, they understand numbers, that is one of the reasons why we one hot encode few columns
refer this link for more information : https://datagy.io/pandas-get-dummies/

you can use this or directly look into pandas get_dummies() method to implement this

Columns to apply one_hot encoding on:
*   Pclass
*   Sex
*   Title
*   Embarked

In [ ]:
# Your code starts here

# Your code ends here

In [ ]:
# Show your final dataframe here

## Bonus: You can research on the topic of Standardization vs Normalization **only if** you are done with the task, the best research will be edited and featured on the Synapse Instagram page. You can contact us for any doubts regarding this as well! Happy coding! :)